# Quotes to Scrape from [quotes.toscrape website](https://quotes.toscrape.com/)

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
all_quotes_list = []
id1 = 1

for page in range(1, 11) :

    url = f'https://quotes.toscrape.com/page/{page}/'

    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    all_quotes = soup.select('.quote')

    for quote in all_quotes : 

        quote_text = quote.find('span', class_='text').text.strip()

        # Extract the author name
        author = quote.find('small', class_='author').text.strip()

        # Extract all tags
        tags = [tag.text.strip() for tag in quote.find_all('a', class_='tag')]

        all_quotes_list.append({
            'id': id1,
            'quote': quote_text,
            'author': author,
            'tags': tags,
        })

        id1 += 1

In [5]:
data = pd.DataFrame(all_quotes_list)
data.shape

(100, 4)

In [6]:
data.head()

,id,quote,author,tags
0,1,“The world as we have created it is a process ...,Albert Einstein,"[change, deep-thoughts, thinking, world]"
1,2,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,3,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"
3,4,"“The person, be it gentleman or lady, who has ...",Jane Austen,"[aliteracy, books, classic, humor]"
4,5,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    int64
 1   quote   100 non-null    object
 2   author  100 non-null    object
 3   tags    100 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.3+ KB

In [8]:
data.to_csv('quotes_scraping.csv', index=False)